<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ex10_Ch10/src/ex10_Ch10/Subtree.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ex10_Ch10.Subtree"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ex10_Ch10"/>
</launchConfiguration>
